
#font1 {
    font-family: "Inter", Arial, sans-serif;
}

#font2 {
    font-family: "Open Sans", Arial, sans-serif;
}

h1,
h2,
h3,
nav li {
    font-family: "Inter", Arial, sans-serif;
    text-align: center;
}

p {
    font-family: "Open Sans", Arial, sans-serif;
}

nav,
footer,
nav li a,
nav li {
    background-color: #2f4e89ff;
    color: black;
    text-decoration: none;
    text-align: center;
    list-style-type: none;
}

nav a:hover {
    background-color: #f1e0c5ff;
    color: black;
}

nav ul {
    padding: 0;
}

nav li a{
    border: 1px solid #2f4e89ff;
    margin: 10px 0px 10px;
    padding: 5px 0px 5px;    
    display: block;
    transition: 0.5s;
    font-size: 1.5em;
    color: white;

}

body {
    background-color: #f1e0c5ff;
    margin: 0;
}

main {
    background-color: #80a1c1ff;
}

main,
footer {
    padding: 1.5em;
}

footer a {
    color: black;
}

nav,
header {
    padding: 0.5em;
    color: black;
}

header img {
    height: 100px;
    display: inline;
    padding-left: 15px;
}

#siteName {
    padding-top: 15px;
    padding-left: 15px;
}
#siteName h1, #siteName p {
    margin: 5px 0px 5px;
}
header {
    display: flex;
}

img {
    max-width: 100%;
}
button {
    display: block;
    height: 50px;
    width: 100%;
    font-family: "Inter", Arial, sans-serif;
    font-size: 1.5em;
    border: 1px solid #2f4e89ff;
    background-color: #2f4e89ff;
    color: #ebebebff;
    transition: 0.5s;
}
button:hover {
    background-color: #f1e0c5ff;
    color: black;
}
nav ul.hide {
    display: none;
}

section {
    background-color: #f1e0c5ff;
    border: 5px solid #f1e0c5ff;
    margin: 5px;
}

@media (min-width: 900px) {
    nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }
    nav ul li a {
        margin: 0px;
        margin-right: -1px;
        padding: 5px 0px 5px;
    }
    button {
        display: none;
    }
    nav ul.hide {
        display: flex;
    }
}