
#font1 {
    font-family: "Inter", Arial, sans-serif;
}
#font2 {
    font-family: "Open Sans", Arial, sans-serif;
}
#pancake {
    display: none;
    align-items: center;
    justify-content: center;
    padding: .5em;
    background-color: #f1e0c5ff;
    color: black;
    font-family:'Inter', Arial, sans-serif;
    text-align: center;
}
body {
    background-color:#80a1c1ff; 
}
main {
    margin: 0.5em;
    padding: 0.5rem;
    background-color:#80a1c1ff;
}
header {
        text-align: center;
        background-color:#80a1c1ff;
        font-family:'Inter', Arial, sans-serif;
        max-width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        display: flex;
        margin-top: 4%;
}
header img {
        width: 80px;
        height: auto;
        padding: 0.5rem;
        margin: 0;
        display: inline;
}
img {            
	max-width: 65%;
    max-height: 100%;
    display: flex;
}
.prestonMap{
    max-width: 33%;
    padding-left: 150px;
}
h1 {
    font-size: 2rem;
    margin: auto;
    color:black;
    font-family:'Inter', Arial, sans-serif;
    margin-top: 4%;
    text-align: center;
}
h2, h3, h4 {
    font-family:'Open Sans', Arial, sans-serif;
    color:black;
    text-align: center;
}
p {
        color:black;
        font-size: 1rem;
        font-family:'Open Sans', Arial, sans-serif;
        text-align: center;
}
a {
    color:black;
    font-size: 1.3rem;
    font-family:'Open Sans', Arial, sans-serif;
    text-decoration: none;
    text-align: center;   
}
button {
    background-color:#2f4e89ff;
    font-family:'Inter', Arial, sans-serif;
    font-size: 1rem;
    display: block;
    transition: 0.5s;
    height: 50px;
    width: 100%;
}
nav {
	background-color:#2f4e89ff;
    font-size: 1rem;
	text-align: center;
    max-width: 100%;
}
nav ul.navigation {
    display:flex;
}
.active {
    background-color:#f1e0c5ff;
    font-weight: bold;
    text-decoration: underline;
}
nav ul li a {
    color:black;
	display: grid;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
    font-family: 'Inter', Arial, sans-serif;
    list-style: none;
}
nav a:hover {
    background-color: #f1e0c5ff;
    color: black;
}
button:hover {
    background-color: #f1e0c5ff;
    color: black;
}
nav ul {
    position: relative;
    padding: 0;
    margin: 0;
}
ul {
    list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
main,
footer {
    padding: 1.5em;
}
nav ul.navigation {
    display: none;
}
.heroBox {
    background-color:#f1e0c5ff;
    margin: 5px;
    width: auto;
    height: auto;
}
.heroImg {
    max-width: 100%;
    max-height: 100%;
    margin: 25px auto;
}
.weatherBox {
    position: relative;
    width: 100%;
    margin: 0;
    background-color: #f1e0c5ff;
}
.weatherBox {
    margin-bottom: -9px;
    padding: 1rem;
    width: 225px;
    height: 225px;
}
.weatherBox ul{
    list-style-type: none
}
.weatherBox h2{
    text-decoration: underline;
}

.boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
table {
    margin: 0 auto;
    width: 90%;
    background-color: #2f4e89ff;
}
table, th, td {
    border: 1px solid black;
    font-family: "Inter", Arial, sans-serif;
}
th {
    font-size: 1.25rem;
    background-color: #f1e0c5ff;
}
td {
    padding-top: 10px;
    text-align: center;
    font-size: 1.25rem;
    background-color: #f1e0c5ff;
}
.articleBox {
    padding: 1.5rem;
}
.articleBox img {
    display: block;
    margin: 0 auto;
    height: 300px;
    width: 100%;
    max-width: 500px;
}
.contact {
    padding: 0.5rem 0 0.5rem 1.5rem;
    text-align: start;
    background-color: #2f4e89ff;
    color: white;
}
.prestonMap {
    display: block;
    height: 250px;
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
}
footer {
    padding: 1rem;
    text-align:center;
    margin: 0.5rem;
    max-width: 100%;
}

#social img{
    padding-right: 0.75rem;
}

@media screen and (min-width: 885px) {
    main {
        margin: 0 auto;
        max-width: 900px;
    }


    .weatherBox {
        position: absolute;
        background-color: #f1e0c5ff;
        height: 225px;
        width: 225px;
        opacity: 85%;
        top: 10%;
        left: 5%;
    }

    .weatherBox h2, .weatherBox li {
        opacity: 100%;
    }

    .articleBox img {
        float: right;
        width: 400px;
        padding: 1rem;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0;
    }
    
    .prestonMap {
        grid-column: 1/2;
        max-width: 500px;
    }
    .contact {
            grid-column: 2/3;
        }

    nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }
    nav ul li a {
        margin: 0px;
        margin-right: -1px;
        padding: 5px 0px 5px;
    }
    button {
        display: none;
    }
    nav ul.navigation {
        display: flex;
    }
}
/*medium*/
@media only screen and (min-width: 36em) {
    header {
        text-align: center;
}
    nav ul, nav ul.navigation {
        display: flex;
}
    nav ul li {
        flex: 1 1 100%;
}
    nav button {
        display: none;
}
    .heroImg {
        margin: 10px auto;
        position: relative;
}
    .heroBox {
        position: relative;
        margin: 10px auto;
        width: auto;
}
   .weatherBox{
        position: absolute;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;  
}
    .articleBox {
        padding-left: 8rem;
        display: grid;
        grid-template-columns: 2fr 2fr;
        border: 5px solid #f1e0c5ff;
}
   .prestonMap{
    display:block;
    float: left;
    margin-top: 10px;
}
   .contact{
   margin: 10px;
   padding: 10px;
   justify-content: right;
   text-align: center; 
   border: 5px solid black;
}
   .social{
   display: flex;
   align-items:center;
   justify-content: center;
    }
}
/*large*/
@media only screen and (min-width: 64em) {
    main {
        margin: 0 auto;
        max-width: 960px;
    }
    header {
        max-width: 100%;
        justify-items: center;
        justify-content: center;
        display: flex;
        text-align: center;
        margin-top: auto;
    }
    h2 {
        text-align: center;
    } 
    nav {
        max-width: 100%;
    }
    nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }
    nav button{
        display:none;
    }
    footer{
        margin: 0 auto;
        max-width: 1050px;
    }
}