
#font1 {
    font-family: "Inter", Arial, sans-serif;
}

#font2 {
    font-family: "Open Sans", Arial, sans-serif;
}

h1,
h2,
h3,
nav li {
    font-family: "Inter", Arial, sans-serif;
    text-align: center;
}

p, li {
    font-family: "Open Sans", Arial, sans-serif;
}

nav,
footer,
nav li a,
nav li {
    background-color: #2f4e89ff;
    color: black;
    text-decoration: none;
    text-align: center;
    list-style-type: none;
}

nav a:hover {
    background-color: #f1e0c5ff;
    color: black;
}

.active {
    font-weight: bold;
    text-decoration: underline;
    color: black;
}

nav ul {
    position: relative;
    padding: 0;
}

nav li a{
    position: static;
    border: 1px solid #2f4e89ff;
    margin: 10px 0px 10px;
    padding: 5px 0px 5px;    
    display: block;
    transition: 0.5s;
    font-size: 1.5em;
    color: white;

}

body {
    background-color: #80a1c1ff;
    margin: 0;
}

main {
    background-color: #80a1c1ff;
}

main,
footer {
    padding: 1.5em;
}

footer a {
    color: white;
}

nav,
header {
    padding: 0.5em;
    color: black;
}

header img {
    height: 100px;
    display: inline;
    padding-left: 15px;
}

#siteName {
    padding-top: 15px;
    padding-left: 15px;
}
#siteName h1, #siteName p {
    margin: 5px 0px 5px;
}
header {
    display: flex;
}

img {
    max-width: 100%;
}
button {
    display: block;
    height: 10px;
    font-family: "Inter", Arial, sans-serif;
    font-size: 1.5em;
    border: 1px solid #2f4e89ff;
    background-color: #2f4e89ff;
    color: #ebebebff;
    transition: 0.5s;
    height: 50px;
    width: 100%;
}
button:hover {
    background-color: #f1e0c5ff;
    color: black;
}
nav ul.hide {
    display: none;
}

section {
    background-color: #2f4e89ff;
    border: 5px solid #80a1c1ff;
    margin: 5px;
}

/* Noscript style rules */

noscript {
    margin: 1rem;
    background-color: blue;
    color: white;
    width: 100%;
}

/* Banner style rules */

#banner {
    display: none;
    text-align: center;
    background-color: #f1e0c5ff;
    padding: .75rem;
}



/* Weather summary style rules */

#pageHeader {
    padding: 1rem;
}

#summaryContainer {
    position: relative;
    width: 100%;
    margin: 0;
    background-color: #f1e0c5ff;
    margin-bottom: -9px;
}

#weatherSummary {
    padding: 1rem;
    width: 225px;
    height: 225px;
}

#weatherSummary ul{
    list-style-type: none
}

#weatherSummary h2{
    text-decoration: underline;
}

#heroImage {
    display: block;
    height: 350px;
    width: 100%;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;


}

#labels {
    text-align: end;
    padding: 0;
}
#values {
    padding-left: 10px;
}

/* 5 day forecast style rules */
#forecast {
    padding: 1.5rem;
    display: none;
}
table {
    margin: 0 auto;
    width: 90%;
    background-color: #80a1c1ff;
}

table, th, td {
    border: 1px solid black;
    font-family: "Inter", Arial, sans-serif;
}
th {
    font-size: 1.25rem;
    background-color: #f1e0c5ff;
}
td {
    padding-top: 10px;
    text-align: center;
    font-size: 1.25rem;
    background-color: white;
}

/* Article style rules */
#articleContainer {
    padding: 1.5rem;
}

#articleContainer img {
    display: block;
    margin: 0 auto;
    height: 300px;
    width: 100%;
    max-width: 500px;
}

/* Contact information and footer bar style rules */

#contactInfo {
    padding: 0.5rem 0 0.5rem 1.5rem;
    text-align: start;
    background-color: #2f4e89ff;
    color: white;
}

#prestonMap {
    display: block;
    height: 250px;
    width: 90%;
    margin: 0 auto;
    background-color: #2f4e89ff;
    padding: 1rem;
}

footer {
    background-color: #2f4e89ff;
}

#footerBar {
    padding: .5rem;
    background-color: #2f4e89ff;
}

#iconBar img{
    padding-right: 0.75rem;
}

@media screen and (min-width: 885px) {
    main {
        margin: 0 auto;
        max-width: 900px;
    }


    #weatherSummary {
        position: absolute;
        background-color: #f1e0c5ff;
        height: 225px;
        width: 225px;
        opacity: 85%;
        top: 10%;
        left: 5%;
    }

    #weatherSummary h2, #weatherSummary li {
        opacity: 100%;
    }

    #forecast {
        display: block;
    }

    #articleContainer img {
        float: right;
        width: 400px;
        padding: 1rem;
    }

    #footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0;
    }
    
    #prestonMap {
        grid-column: 1/2;
        max-width: 500px;
    }
    #contactInfo {
            grid-column: 2/3;
        }

    nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }
    nav ul li a {
        margin: 0px;
        margin-right: -1px;
        padding: 5px 0px 5px;
    }
    button {
        display: none;
    }
    nav ul.hide {
        display: flex;
    }
}